/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    //height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input {
    border: 0;
}

button:focus,
input:focus {
    border: 0;
}

:root{
    --white: #ffffff;
    --dark: #131318;
    --orange: #FFA800;
    --blue: #0072D2; 
}

.container{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/asssets/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);

    .containerHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 121px;
        font-family: 'B612', sans-serif;
        text-transform: uppercase;
        
        p{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            box-shadow: 0px 4px 4px 0px #00000040;
            margin-bottom: 35px;
        }

        h1{
            font-weight: 700;
            font-size: 96px;
            line-height: 117px;
        }
    }

    .containerMain{
        display: flex;
        justify-content: center;

        .mainImg{
            img{
                height: 267px;
                width: 184px;
                border-radius: 20px;
            }
            margin-right: 73px;
        }

        .mainContent{
            font-family: 'B612', sans-serif;

            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 35px;
            }

            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 35px;

                .infoTime{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'B612', sans-serif;

                    p{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        padding-left: 10px;
                        padding-top: 5px;
                        margin: 0;
                    }

                    img{
                        height: 30px;
                        width: 30px;
                    }
                }

                .year{
                    font-family: 'B612', sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    padding-top: 5px;
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                

                button{
                    padding: 15px 25px;
                    font-family: 'B612', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: var(--white);
                    margin-right: 21px;
                    text-transform: uppercase;
                    border-radius: 3px;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                        color: var(--white);
                    }
                }

                .trailer{
                    border: 1px solid #FFFFFF;
                    background-color: var(--dark);

                    &:hover{
                        background-color: var(--blue);
                    }
                }

                .assist{
                    background-color: var(--blue);
                }

                :hover{
                    background-color: var(--dark);
                }
            }
        }
    }
}


@media (max-width: 1050px) {
    .containerMain{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 20px !important;

        .mainImg{
            margin-right: 0 !important;
            margin-bottom: 35px !important;
        }
    }

    .buttons{
        justify-content: center !important;
    }

    .containerHeader{
        margin-top: 20px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media (max-width: 450px) {
    .containerHeader{
        margin: 20px !important;
        p{
            font-size: 18px !important;
        }

        h1{
            font-size: 72px !important;
            margin-bottom: 20px !important;
        }
    }

    .mainContent{
        p{
            font-size: 18px !important;
        }

        .infoTime{
            p{
                font-size: 18px !important;
        
            }
        }

        .year{
            font-size: 18px !important;
        }

    }   
    
}